html {
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    padding: 20px;
}

.grid-item {
    border: 3px solid gray;
    padding: 20px;
}
body {
    background-color: white;
    color: red;
}