body {
    font-family: Arial, sans-serif;
}
body {
    background-color: white;
    color: black;
}
#myLaatikko {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    text-align: start;
    margin: 20px auto;
  }
p {
  color: green;
}